# Tarea 1 Bases de Datos 2022-1 Grupo XX

## Integrantes:
* Vicenzo Brante - 202073014-8
* Angelo Ibaceta - 202073019-9
* Ignacio Barahona - 202073040-7

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [4]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [ ]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [ ]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='postgres',
   password="password"
)

print(connection)
cursor = connection.cursor()

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [ ]:
%%sql
CREATE TABLE "usuarios"(
    ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45),
    correo VARCHAR(45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (ID_usuario)
);

### Tabla "Creadores"

In [ ]:
%%sql
CREATE TABLE "creadores"(
    ID_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    Estilo VARCHAR(45),
    PRIMARY KEY (ID_creador)
);

### Tabla "Tipos_NTF"

In [ ]:
%%sql
CREATE TABLE "tipos_nft"(
    ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY (ID_tipo)
);

### Tabla "NFT"

In [ ]:
%%sql
CREATE TABLE "nft"(
    ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    id_tipo INTEGER,
    PRIMARY KEY (ID_nft),
    FOREIGN KEY (ID_creador) REFERENCES creadores (ID_creador),
    FOREIGN KEY (id_tipo) REFERENCES tipos_nft (ID_tipo)
);

### Tabla "Precio NFT"

In [ ]:
%%sql
CREATE TABLE "precio_nft"(
    ID_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INTEGER NOT NULL,
    PRIMARY KEY (ID_nft, fecha),
    FOREIGN KEY (ID_nft) REFERENCES nft (ID_nft)
)

### Tabla "Usuario tiene NFT"

In [ ]:
%%sql
CREATE TABLE "usuario_tiene_nft"(
    id_usuario INTEGER,
    id_nft INTEGER,
    PRIMARY KEY (id_usuario,id_nft),
    FOREIGN KEY (id_usuario) REFERENCES usuarios (ID_usuario),
    FOREIGN KEY (id_nft) REFERENCES nft (ID_nft) 
)

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [ ]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** En esta consulta seleccionamos el atributo 'id_creador' y la concatenación de los atributos 'nombre' y 'apellido', de las filas de la tabla 'creadores', que a su vez tuvieran el valor 'Anime' en su atributo 'Estilo', para luego ordenar por popularidad de manera descendiente (de mayor a menor) tomando solamente el primer dato obtenido haciendo así que el creador mostrado sea el más popular del estilo 'Anime'.

In [ ]:
%%sql
SELECT id_creador AS "Id", CONCAT(nombre,' ',apellido) AS "Creador"
FROM creadores
WHERE Estilo = 'Anime' --Estilo
ORDER BY popularidad DESC
LIMIT 1;

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** En esta consulta seleccionamos el atributo 'nombre' de la tabla 'NFT' y la cantidad de veces que se repite un atributo 'precio' en 'precio_nft', luego hacemos una intersección entre las tablas nft y precio_nft  usando el atributo 'id_nft' y finalmente agrupamos por 'nft.nombre', esto para obtener la cantidad de precios que ha tenido historicamente cada NFT.

In [ ]:
%%sql
SELECT nft.nombre AS "NFT", COUNT(precio_nft.id_nft) AS "Cantidad de precios"
FROM nft
INNER JOIN precio_nft
USING (id_nft)
GROUP BY (nft.nombre);

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** En esta consulta seleccionamos el atributo 'nombre' como "Nombre" de la tabla 'nft' y el atributo 'nombre' como "Tipo NFT" de la tabla 'tipos_nft', luego unimos todos los atributos de la tabla 'tipos_nft' y los de la tabla 'nft' usando el atributo 'id_tipo' para hacer esta unión, esto para que se muestre el nombre del tipo de nft, luego hacemos otra unión con la tabla precio_nft usando el atributo 'id_nft' para hacer esta unión, esto se hace para luego ordenar las filas en orden descendente(de mayor a menor) con respecto a el precio, finalmente se limita a 1 la cantidad de filas que se retornan para obtener el NFT con el mayor precio historico con el nombre y el nombre del tipo.

In [ ]:
%%sql
SELECT nft.nombre AS "Nombre", tipos_nft.nombre AS "Tipo NFT"
FROM nft
RIGHT JOIN tipos_nft
USING (id_tipo)
RIGHT JOIN precio_nft
USING (id_nft)
ORDER BY precio DESC
LIMIT 1;

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _En esta consulta seleccionamos el atributo nombre como "Nombre" y apellido como "Apellido", ambos de la tabla usuarios, luego mezclamos la tabla "usuarios" con la tabla "usuario_tiene_nft" a traves del atributo "id_usuario", luego agrupamos a las personas por nombre y apellido de tal forma que aparecieran sin repeticion, finalmente ordenamos los valores de mayor a menor segun la cantidad de veces en las que se repetia su nombre en la lista, dejandonos a la persona con mayor numero de NFTs en el primer lugar y con la funcion "LIMIT 1" logramos que solo se muestre el primer valor de la tabla_

In [ ]:
%%sql
SELECT usuarios.nombre AS "Nombre",usuarios.apellido AS "Apellido"
FROM usuarios
RIGHT JOIN usuario_tiene_nft u
ON u.id_usuario = usuarios.id_usuario
GROUP BY (Nombre,Apellido)
ORDER BY COUNT(u.id_usuario) DESC
LIMIT 1;

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** En esta consulta se selecciona el atributo 'nombre' de la tabla nft, esta tabla se une con la tabla 'precio_nft' usando 'id_nft' para hacer la unión entre tablas, luego se agrupan por Nombre y se ordenan por cantidad de veces que se repite el nft en la tabla de precios de manera descendente, con un limite de una fila para obtener el que más veces ha sido cambiado.

In [ ]:
%%sql
SELECT id_nft "Id", nombre AS "NFT"
	FROM nft
	RIGHT JOIN precio_nft
	USING (id_nft)
	GROUP BY id_nft, nombre
	ORDER BY COUNT(precio_nft.id_nft) DESC
	LIMIT 1;

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

Solución: Para lograr realizar esta consulta se ingreso a la tabla de datos de "usuarios" para así extraer los nombres, apellidos e ID, la ID se utilizo para realizar una busqueda en la tabla de "usurio_tiene_nft" y ver si tenian nft o no, luego utilizando el comando "NOT IN" realizo el descarte de usuarios que tenian uno, finalmente mostrando solo los que no tenian nft.

In [ ]:
%%sql
SELECT nombre AS "Nombre", apellido AS "Apellido"
  FROM usuarios
 WHERE id_usuario NOT IN (SELECT id_usuario
                       FROM usuario_tiene_nft)

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** En esta consulta se hace una consulta anidada, en la que primero se seleccionan los atributos 'nombre', 'fecha', 'precio' y un atributo 'ultimos_precios' que se encarga de recoger solo los precios mas recientes  de la tabla 'precios_nft', luego se une la tabla 'precio_nft' con 'nft' usando el atributo 'id_nft' para realizar la unión mientras las filas, mientras 'precio' no sea NULL y la 'id_tipo' sea igual a 1, luego mientras el valor de 'ultimos_precios' sea igual a 1, se ordenan los Nombres por precio de manera descendiente y se limita a 4 filas para obtener los 4 con mayor precio.

In [ ]:
%%sql
SELECT nombre AS "Nombre" FROM (
    SELECT nombre, fecha,precio,
        ROW_NUMBER() OVER(PARTITION BY nft.id_nft ORDER BY fecha DESC) as ultimos_precios
    	FROM precio_nft
		RIGHT JOIN nft ON nft.id_nft = precio_nft.id_nft
		WHERE precio IS NOT NULL AND nft.id_tipo = 1 --Tipo
) T
WHERE T.ultimos_precios = 1 
ORDER BY precio DESC
LIMIT 4;

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** En esta consulta se selecciona el atributo 'nombre' como "NFT" de la tabla 'nft' y el atributo 'precio' de la tabla 'precio_nft', se une la tabla 'nft' con la tabla 'precio_nft', usando 'id_nft' ,pero la union solo pasa en las filas de la tabla 'precio_nft' que tienen una fecha desde el 1 de enero de 2017 hasta el 31 de diciembre de 2019, finalmente se ordena por fecha.

In [8]:
%%sql
SELECT nft.nombre AS "NFT", precio_nft.precio AS "Precio"
FROM nft
RIGHT JOIN precio_nft
USING (id_nft)
WHERE fecha::DATE BETWEEN DATE '2017-01-01' AND DATE '2019-12-31' 
ORDER BY fecha;

 * postgresql://postgres:***@localhost:5432/postgres
101 rows affected.

[('Silver Lining Pixy', 95651),
 ('Minecraft Sphere', 46460),
 ('The Binary Girl', 5473),
 ('Non Fungible Nibbles', 26142),
 ('Art Dodger', 65669),
 ('Rainbows Ends', 30042),
 ('United Crypto Token (UCT)', 29960),
 ('Couch Potato', 21051),
 ('Atollon Coral', 14844),
 ('Bloom of Flowers', 35469),
 ('Qat Tree Unicorn', 29726),
 ('Moonlit Butterfly', 8764),
 ('Outstanding Octopus', 92118),
 ('Coin Dance', 77118),
 ('Elite Fur Dog Race Club', 48149),
 ('Dust Sifter', 80740),
 ('The Teacup Pomeranian', 81880),
 ('Midas NFTs', 92297),
 ('Cards of Polo', 44750),
 ('Coin Dance', 98923),
 ('Fantasy Token', 71306),
 ('Panther NFT', 21908),
 ('Touchdown', 81196),
 ('Crypto Potluck', 98156),
 ('Rich Rhinos', 22101),
 ('Bit NFT', 83521),
 ('Crypto Felines', 75597),
 ('Giant Coin', 83858),
 ('Light Embrace', 35473),
 ('1NiTRO', 3506),
 ('Koala Kickers', 44831),
 ('Pink Sports Cars', 26975),
 ('Visionary Crypto', 57295),
 ('3D Me', 19363),
 ('Water Wiggle', 15254),
 ('Depressed Dragons', 61349),
 ('Digital Unicorns', 68548),
 ('Koala Kickers', 97267),
 ('Mountain of Clouds', 18333),
 ('Enthusiastic Elephants', 65254),
 ('Sphere Art', 17458),
 ('Art Lover Box', 26352),
 ('Crypto Potluck', 73556),
 ('Fight Punks', 40771),
 ('Alice Wonderland Frozen Carolers', 80518),
 ('Crypto Potato', 25401),
 ('Rainbows Ends', 17521),
 ('Fantasy Token', 25716),
 ('Midas NFTs', 41459),
 ('Madame Witch', 92453),
 ('Cryptonaut', 92719),
 ('Women Power', 65873),
 ('Crypto Pigeon Race', 79444),
 ('Tokenized Superheroes', 7563),
 ('Light Embrace', 92665),
 ('Dreamy Imaginations', 69391),
 ('Pandamonium', 90589),
 ('Crypto Kitties Of War', 98801),
 ('Bit NFT', 45855),
 ('Outstanding Octopus', 66271),
 ('Arty Arts', 93807),
 ('Tokenized Superheroes', 56548),
 ('Fight Punks', 36149),
 ('Cypherpunk Samurai', 19579),
 ('White Storm', 96260),
 ('Depressed Dragons', 63294),
 ('Outstanding Octopus', 84142),
 ('Busy Bats', 71160),
 ('Awesome Concept', 31952),
 ('Rainbows Ends', 50580),
 ('Mike Halloween Yodelers', 59321),
 ('Nova Auroras', 32651),
 ('Tokenized Superheroes', 25845),
 ('Crypto Diamonds', 79174),
 ('Rich Rhinos', 87949),
 ('Mountain of Clouds', 2164),
 ('Crypto Kitties', 35522),
 ('0NOCH0', 1287),
 ('Madame Witch', 81497),
 ('Bloom of Flowers', 85856),
 ('Cypherpunk Samurai', 43185),
 ('Koalas in Love', 57768),
 ('Dose of Art', 69257),
 ('Dapper Dinos', 7509),
 ('Headed Shark Attack', 22266),
 ('Flame Stinger', 57797),
 ('Fight For The Title', 36062),
 ('0NOZER0', 16194),
 ('Depressed Dragons', 21321),
 ('Ultimate Iconic Crypto (IUC)', 89106),
 ('Depressed Dragons', 24818),
 ('Tokenized Superheroes', 80763),
 ('Outstanding Octopus', 8666),
 ('Anna Frozen Entertainers', 84660),
 ('Depressed Dragons', 8466),
 ('Cryptokitty Ville', 90226),
 ('Blizz Blizzard', 98750),
 ('Mint Chocolates', 10269),
 ('Artistic Alpha', 33529),
 ('Rockin Crypto', 75053),
 ('Alice Wonderland Frozen Carolers', 39278)]

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
--NN

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** En esta consulta se hace una consulta anidada, en la que primero se seleccionan los atributos 'nombre', 'fecha', 'precio' y un atributo 'ultimos_precios' que se encarga de recoger solo los precios mas recientes  de la tabla 'precios_nft', luego se une la tabla 'precio_nft' con 'nft' usando el atributo 'id_nft' para realizar la unión mientras las filas, mientras 'precio' no sea NULL y el atributo 'creadores.nombre' sea 'Julia' y 'creadores.apellido' sea 'Rufus'(variables dependiente de los datos en la tabla creadores), despues si se seleccionan el primer dato de T.ultimos_precios, se ordenan por 'precio' de manera descendiente con limite de 1, para obtener la fila con mayor precio.

In [7]:
%%sql
SELECT nombre AS "NFT",precio AS "Precio" FROM(
	 	SELECT nft.nombre, fecha,precio,
        ROW_NUMBER() OVER(PARTITION BY nft.id_nft ORDER BY fecha DESC) as ultimos_precios
    	FROM precio_nft
		RIGHT JOIN nft ON nft.id_nft = precio_nft.id_nft
		RIGHT JOIN creadores ON creadores.Id_creador = nft.Id_creador
		WHERE creadores.nombre =  'Julia' AND creadores.apellido = 'Rufus' --Nombre Y Apellido 
		AND precio IS NOT NULL
) T
WHERE T.ultimos_precios = 1
ORDER BY precio DESC
LIMIT 1;

1 rows affected.

[('Clumsy Crocodiles', 86200)]

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

--NN

 
|Nombre |Github |
|----|---|
|Vicenzo Brante |  Delcron |
|Ignacio Barahona| DuckSupremacy| 
|Angelo Ibaceta | AngeloIbadurmiendo |